#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 0;
  align-items: center;
}

.quote-card {
  max-width: 600px;
  border: 1px solid #61677a;
  border-radius: 5px;
  padding: 1rem;
}
.quote-card::before {
  content: "“";
}
.quote-card::after {
  content: "”";
}
